body {
            font-family: Arial, sans-serif;
            background-color: #121212;
            color: #ffffff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            max-width: 1200px;
        }
        .artist-card {
            background-color: rgba(28, 28, 28, 0.8);
            border-radius: 8px;
            overflow: hidden;
            width: 300px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
            position: relative;
            font-size: 14px;
            transition: transform 0.3s ease, background-color 0.3s ease;
        }
        .artist-card img {
            width: 100%;
            height: auto;
            transition: opacity 0.3s ease;
        }
        .artist-card:hover img {
            opacity: 0.3;
        }
        .overlay {
            position: absolute;
            top: 10px;
            left: 10px;
            color: white;
            font-size: 16px;
            font-weight: bold;
        }
        .artist-card h2 {
            margin: 20px 0 0;
            padding: 0 20px;
            font-size: 24px;
        }
        .artist-card .listeners {
            margin: 10px 20px 0;
            font-size: 14px;
            line-height: 1.5;
            color: #b3b3b3;
        }
        .artist-card .description {
            margin: 10px 20px;
            font-size: 14px;
            line-height: 1.5;
            color: #b3b3b3;
        }
        .artist-card .follow-btn {
            display: block;
            margin: 10px 20px 20px;
            padding: 10px 0;
            background-color: #1db954;
            color: #fff;
            text-decoration: none;
            border-radius: 25px;
            text-align: center;
            transition: background-color 0.3s;
        }
        .artist-card .follow-btn:hover {
            background-color: #17a74a;
        }
        .social-media {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 20px;
        }
        .social-media a {
            color: #b3b3b3;
            text-decoration: none;
            font-size: 20px;
            transition: color 0.3s;
        }
        .social-media a:hover {
            color: #fff;
        }
        .quote {
            font-size: 24px;
            font-weight: bold;
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            max-width: 640px;
        }
        .quote::before {
            content: '';
            width: 30px;
            height: 30px;
            background-image: url(https://cdn.upstairs.cn/blockquote.svg);
            display: inline-block;
            margin: 0;
        }
        @media (max-width: 768px) {
            .container {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
            .quote {
                margin-top: 2em;
                align-items: left;
            }
        }
        .memos {
            margin-bottom:0.5em;
            width: 100%;
            font-weight: 1000;
        }
        .memos ul {
            list-style-type: none;
            padding-left: 0;
        }

        .memos__meta{text-align: right;font-size:20px;font-weight:400;color:#ddd;}
        .load-btn.button-load, .tag-span, .resource-wrapper, .memos__userinfo {
            display: none;
        }
        .quote ul {
            list-style-type: none;
            text-align: left;
        }