body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    max-width: 1200px;
}
.artist-card, .quote {
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 28, 28, 0.8);
    border-radius: 8px;
    overflow: hidden;
    width: 360px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: relative; /* Added position relative */
}
.artist-card img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}
.artist-card:hover img {
    opacity: 0.3;
}
.overlay {
    position: absolute;
    top: 10px; /* Adjusted top position */
    left: 10px; /* Adjusted left position */
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.artist-card h2 {
    margin: 20px 0 0;
    padding: 0 20px;
    font-size: 24px;
}
.artist-card .listeners {
    margin: 10px 20px 0;
    font-size: 14px;
    line-height: 1.5;
    color: #b3b3b3;
}
.artist-card .description {
    margin: 10px 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #b3b3b3;
}
.artist-card .follow-btn {
    display: block;
    margin: 10px 20px 20px;
    padding: 10px 0;
    background-color: #1db954;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.3s;
}
.artist-card .follow-btn:hover {
    background-color: #17a74a;
}
.social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
.social-media a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}
.social-media a:hover {
    color: #fff;
}
.quote {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin: 0 30px;
    padding: 20px;
    color: #fff;
    background-size: 110%; /* Zoom in on the background image */
    background-position: top; /* Show the top 80% of the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    flex-grow: 1;
}
.memos::before {
content: '';
width: 30px;
height: 30px;
background-image: url(../assets/img/quote.png);
display: inline-block;
margin: 0;
}
#memos {
    z-index: 1;
    position: relative;
}
.quote-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    z-index: 0;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .quote {
        margin-top: 20px;
        align-items: center;
    }
}
.memos {
    margin-top: 0px;
    width: 100%;
}
.memos p{margin:5px 0}
.memos__meta{font-size:16px;}
.memos ul {
    list-style-type: none;
    padding-left: 0;
}
.load-btn.button-load, .tag-span, .resource-wrapper, .memos__userinfo {
    display: none;
}
.quote ul {
    list-style-type: none;
}